
<div class="container">
<div class="row">
  <% if @gifts == [] %>
  <p>Sorry, no gifts matched your search
  </p>
  <% end %>
  <%@gifts.each do |gift| %>
  <div class="col-sm-6 col-md-4">
    <div class="image product-grid">
      <%= image_tag gift.image, class:"img-responsive"  %>
    </div>
    <div class="thumbnail">
      <div class="caption">
        <h3><%=gift.title%></h3>
        <p>$<%=gift.value%></p>
        <p><%=gift.description%></p>
        <a href=<%="/gifts/#{gift.id}"%> class="btn btn-primary" role="button">Details</a>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>