

<%= form_for(@user) do |f| %>
    <div class="field">
      <% if @errors.full_messages_for(:name) != [] %>
        <% @errors.full_messages_for(:name).each do |msg| %>
        <p><%= msg %></p>
      <% end %>
      <% end %>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <br>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
      <% if @errors.full_messages_for(:email) != [] %>
        <% @errors.full_messages_for(:email).each do |msg| %>
        <p><%= msg %></p>
      <% end %>
      <% end %>
    </div>
    <br>
    <div class="field">
      <%= f.label :username %>
      <%= f.text_field :username %>
      <% if @errors.full_messages_for(:username) != [] %>
        <% @errors.full_messages_for(:username).each do |msg| %>
        <p><%= msg %></p>
      <% end %>
      <% end %>
    </div>
    <br>
    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address %>
      <% if @errors.full_messages_for(:address) != [] %>
        <% @errors.full_messages_for(:address).each do |msg| %>
        <p><%= msg %></p>
      <% end %>
      <% end %>
    </div>
    <br>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
      <% if @errors.full_messages_for(:password) != [] %>
        <% @errors.full_messages_for(:password).each do |msg| %>
        <p><%= msg %></p>
      <% end %>
      <% end %>
    </div>
    <br>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
      <% if @errors.full_messages_for(:password_confirmation) != [] %>
        <% @errors.full_messages_for(:password_confirmation).each do |msg| %>
        <p><%= msg %></p>
      <% end %>
      <% end %>
    </div>
    <br>
  <div class="actions">
    <%= f.submit %>
 </div>
 <br>
<% end %>
