<h4>Your unwanted gifts:</h4>
<% @gifts.each do |gift| %>
    <div id=gift.id class="col-xs-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= link_to gift.title.capitalize %></h3>
        </div>
        <div class="panel-body">

<div>
            <%= image_tag gift.image, class: "img-responsive" %><br>
            <%@swaps={}%>

            <%@unwanted_gift = nil%>
            <%@wanted_gift = nil%>

            <%gift.requests_wanted.map do |x| %>
              <%@swaps[x.unwanted_gift.user.username]= x.unwanted_gift.title %>
              <%@unwanted_gift= x.unwanted_gift%>
              <%@wanted_gift = x.wanted_gift%>
            <%end%>

            <% if logged_in? && params[:id].to_i == current_user.id%>

                <div style="padding:0px" class="align-bottom col-sm-11">
                    <div style="padding:0px" class="col-xs-3">
                      <%= link_to 'Edit', edit_gift_path(gift), class: "btn btn-default" %> &nbsp
                    </div>
                  <div style="padding:0px" class="col-xs-4">
                    <%= button_to "Delete", {  remote: true, controller: :gifts, action: "destroy", id: gift.id }, method: :delete,
                    class: "btn btn-default", data: { confirm: "Are you sure?" } %>
                  </div>
                  <div style="padding:0px" class="col-xs-4">
                    <% if logged_in? && params[:id].to_i == current_user.id%>
                        <%@swaps.each do |person, gift|%>
                        <%= form_tag(accept_path(@unwanted_gift)) do |f| %>
                          <%=hidden_field_tag :wanted_id, @wanted_gift.id%>
                          <%=submit_tag 'Trade Now', class: "btn btn-primary" %>
                        <%end%>
                    <%end%>
                </div>
              <%end%>
              </div>
            <% end %>
          </div>
            <div style="clear:both;"></div>
        </div>
      </div>
    </div>
<% end %>