<h4>USER:<%= @user.name %>!
  <h4><br>
    <div>
      <p>Email:
        <%= @user.email %></p><br>
      <p>Address:
        <%= @user.address %></p><br>

  <% if logged_in? && params[:id].to_i == current_user.id%>
    <div id="footershow">
        <%= link_to 'Edit User', edit_user_path, class: "btn btn-default" %>
        <%= link_to 'Delete Profile', @user, method: :delete, class: "btn btn-default", data: { confirm: 'Are you sure?' } %>
    </div>
  <%end%><br>



  <% if @gifts == [] %>
    <h4>Looks like you have no gifts listed. <%= link_to "Add a Gift", "/gifts/new", class: "btn btn-default" %></h4><br>
    <% else %>
      <h4>Your unwanted gifts:</h4><br>
    <% @gifts.each do |gift| %>
      <div id=<%=gift.id%> class="gift">
          <%= gift.title.capitalize %><br>
          <% if logged_in? && params[:id].to_i == current_user.id%>
              <h4><%= link_to 'Edit', edit_gift_path(gift), class: "btn btn-default" %> |
                <%= link_to 'Delete', gift, method: :delete, class: "btn btn-default", data: { confirm: 'Are you sure?' }, remote: true %></h4><br>
          <% elsif logged_in? && current_user[:id] != gift.user[:id]%>
            <p>Contact <%=gift.user.username%> for more information</p>
            <%= link_to 'Get this garbage today!', new_gift_request_path(gift), class: "btn btn-primary" %>
            <%= link_to "Message Seller", conversations_path %>
            </p>
          <% else %>
            <p style="color:red;"> Sign in or sign up in order to propose a swap or message a user! </p>
          <%end%>
        <%= image_tag gift.image, size: "200x200", class: "style_image" %><br>

        <%@swaps={}%>

        <%@unwanted_gift = nil%>
        <%@wanted_gift = nil%>

        <%gift.requests_wanted.map do |x| %>
          <%@swaps[x.unwanted_gift.user.username]= x.unwanted_gift.title %>
          <%@unwanted_gift= x.unwanted_gift%>
          <%@wanted_gift = x.wanted_gift%>
        <%end%>

          <% if logged_in? && params[:id].to_i == current_user.id%>
              <%@swaps.each do |person, gift|%>
                <h4>Swap pending. Proposed by: <%=person%><br></h4>
                <%= form_tag(accept_path(@unwanted_gift)) do |f| %>
                  <%=hidden_field_tag :wanted_id, @wanted_gift.id%>
                  <%=submit_tag 'View Trade', class: "btn btn-primary" %>
                <%end%>
                <h4>trade: <%=gift%></h4><br><br><br>
              <%end%>
          <%end%>
        <%end%>
      </div>
  <% end %>

<%@user.gifts.each do |gift| %>
  <%if !gift.items.empty? %>
    <%item_one = gift.items.map {|x| x.item.title}.first%>
    <%item_two = gift.items.map {|x| x.swapped_item.title}.first%>
    <%user_one = gift.items.map {|x| x.old_owner.name}.first%>
    <%user_two = gift.items.map {|x| x.new_owner.name}.first%><br/ >
    <h4 style="color:red">You swapped with <%= user_one.capitalize%>  successfully! The trade is <%=item_one%> with  <%=item_two%>
    <%sender_id = params[:id]%></h4>
    <%recipient_id = User.find_by(name:user_one).id%>
    <a rel="nofollow" data-method="post" href="/conversations?recipient_id=<%=recipient_id%>&sender_id=<%=sender_id%>">Message <%=user_one%> to coordinate the exchange!!</a>
  <%end%>
<%end%>
</div>
