<div>
  <h1><%= @user.name %></h1>
  <h3><%= @user.username %></h3>
  <p>Email: <%= @user.email %></p>
  <p>Address: <%= @user.address %></p>
  <div id="footershow">
  <%= link_to 'Edit User', edit_user_path %>
  <%= link_to 'Delete Profile', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'View some shitty gifts', gifts_path %>
  <%= link_to 'Talk to someone!!!', conversations_path %>
</div>
</div>
