


<h2>Your Profile</h2>
<br>
    <h4><strong>USER: </strong><%= @user.name %></h4>

  <% if logged_in? && params[:id].to_i == current_user.id%>
  <p><strong>Email: </strong>
    <%= @user.email %></p><br>
  <p><strong>Address: </strong>
    <%= @user.address %></p><br>
    <div id="footershow">
        <%= link_to 'Edit User', edit_user_path, class: "btn btn-default" %>
        <%= link_to 'Delete Profile', @user, method: :delete, class: "btn btn-default", data: { confirm: 'Are you sure?' } %>
        <%= link_to "Add a Gift", "/gifts/new", class: "btn btn-default" %>
        <hr>
    </div>
          <% if @gifts == [] %>
            <h4>Looks like you have no gifts listed.</h4>
          <% else %>
            <%= render "my_gifts" %>
          <% end %>

<% end %>
    <% if @completed_swaps != [] %>
      <%= render "swaps" %>
    <% end %>
