<%= form_for(@gift) do |f| %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <br>
  <div class="field">
    <%= f.label :value %>
    <%= f.number_field :value %>
  </div>
  <br>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <br>
  <div class="field">
    <%= f.label :brand %>
    <%= f.text_field :brand %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :Image %>
    <%= f.file_field :image %>
  </div>
  <br>


<div class="field">
  Pick a category for your gift!
  <%= f.collection_select :id, Category.all, :id, :title %>
</div>
<br>
<div class="field">
    New Category
    <%= f.fields_for :categories do |categories_form| %>
        <%= categories_form.label :title %>
        <%= categories_form.text_field :title %>
    <% end %>
 </div>
<br>
 <div class="actions">
   <%= f.submit "Save", class: "btn btn-primary" %>
 </div>
 <% end %>




