
<!--   <div class="row">
    <div class="col-md-12">
      Categories:
      <% @categories.each do |category| %>
        <span> </span><%= link_to category.title, gifts_path(category: category.id) %> 
      <% end %>
    </div>
  </div>   -->


  
<div class="container">
  <div class="row">
    <%@gifts.each do |gift|%>
    <div id=<%=gift.id%> class="product-grid col-xs-6 col-sm-3">
      <div class="product-thumb" data-sr>
        <figure>
          <div class="image">
            <%= image_tag gift.image, class:"img-responsive"  %>
          </div>
          <figcaption>
            <div class="name">
              <%= link_to  gift.title, gift_path(gift) %>
            </div>
            <div class="price">
              $<%= gift.value %>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
    <%end%>
  </div>
</div>