<h1>Add A Gift</h1>

<%= form_for(@gift) do |f| %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <br>
  <div class="field">
    <%= f.label :value %>
    <%= f.number_field :value %>
  </div>
  <br>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <br>
  <div class="field">
    <%= f.label :brand %>
    <%= f.text_field :brand %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :Image %>
    <%= f.file_field :asset %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>

<% end %>

<!-- find out how to put an image in a form -->
<!-- how to include the category into the form -->
