<div class="container">
  <div class="col-md-4 panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%=@gift.title%></h3>
  </div>
  <div class="panel-body">
      <p>Description: <%= @gift.description %></p>
      <p>Value: <%= @gift.value %></p>
      <p>Brand: <%= @gift.brand %></p>
      <p>Categories: <% @gift.categories.each do |category| %> </p>
      <%=category.title%>
      <%end%>


      <!-- if logged in, show these buttons -->
      <% if logged_in? && current_user[:id] != @gift.user[:id]%>
      <p>Contact <%=link_to @gift.user.username, conversations_path%> for more information</p>
      <% if @accept %>
      <%= form_tag("/requests")%>
      <%= fields_for :request do |requests_form| %>
      <%= requests_form.hidden_field :unwanted_id, value:@wanted_id %>
      <%= requests_form.hidden_field :wanted_id, value:(@gift.id) %>
      <%=submit_tag 'ACCEPT trade', class: "btn btn-primary"%>
      <% end %>

      <%else%>
      <%= link_to 'Get this garbage today!', new_gift_request_path(@gift), class: "btn btn-primary" %>
      <%end%>
      </p>
      <% elsif logged_in? %>
        <p style="color:red;"> This item belongs to you </p>
      <% else %>
        <p style="color:red;"> Sign in or sign up in order to propose a swap or message a user! </p>
      <% end %>
      <%= image_tag @gift.image, size:"200x200", class:"style_image"  %>
    </div>
  </div>
  </div>
