

<div id="nav">
  <h1><%= @gift.title %></h1>
  <p>Description: <%= @gift.description %></p>
  <p>Value: <%= @gift.value %></p>
  <p>Brand: <%= @gift.brand %></p>
  <p>Categories: <% @gift.categories.each do |category| %>
    <%=category.title%>
  <%end%>


  <!-- if logged in, show these buttons -->
  <% if logged_in? && current_user[:id] != @gift.user[:id]%>
    <p>Contact <%=@gift.user.username%> for more information</p>
    <% if @accept %>
    <%= form_tag("/requests")%>
        <%= fields_for :request do |requests_form| %>
          <%= requests_form.hidden_field :unwanted_id, value:@wanted_id %>
          <%= requests_form.hidden_field :wanted_id, value:(@gift.id) %>
          <%=submit_tag 'ACCEPT trade'%>
    <% end %>

    <%else%>
      <%= link_to 'Get this garbage today!', new_gift_request_path(@gift) %>
      <%= link_to "Message Seller Here", conversations_path %>
    <%end%>
    </p>
  <% elsif logged_in? %>
    <p style="color:red;"> This item belongs to you </p>
  <% else %>
    <p style="color:red;"> Sign in or sign up in order to propose a swap or message a user! </p>
  <% end %>
   <%= image_tag @gift.image, size:"200x200", class:"style_image"  %>

</div><br>

<td><%= link_to 'All Gifts', gifts_path %></td>
