<div>
  <h1><%= @gift.title %></h1>
  <p>Description: <%= @gift.description %></p>
  <p>Value: <%= @gift.value %></p>
  <p>Brand: <%= @gift.brand %></p>
  <img src= "<%= @gift.image%>"
  <p>View other gifts owned by link_to "<%=@gift.user.name%>", @user
<%=@gift.user.name %> </p>
</div>
