<div class="container">
  <div class="row product-page">
    <div id="content" class="col-sm-12">
      <div class="row">
        <div class="col-sm-6">
          <ul class="breadcrumb">
            <li><a href="/"><i class="icon ion-ios-home-outline"></i></a></li>
            <li><%= link_to "Gifts", gifts_path %></li>
            <li><a href="#"><%=@gift.title%></a></li>
          </ul>
          <br/>
          <%= image_tag @gift.image, class:"img-responsive"  %>
          <br/ >
          <% binding.pry %>
          <% if logged_in? && current_user[:id] != @gift.user[:id]%>
            <p>Contact <%=link_to @gift.user.username, conversations_path%> for more information</p>
            <% if @accept %>
              <%= form_tag("/requests")%>
              <%= fields_for :request do |requests_form| %>
              <%= requests_form.hidden_field :unwanted_id, value:@wanted_id %>
              <%= requests_form.hidden_field :wanted_id, value:(@gift.id) %>
              <%=submit_tag 'Accept Swap', class: "btn btn-primary btn-block"%>
            <% end %>
          <%else%>
          <%= link_to 'Propose Swap!', new_gift_request_path(@gift), class: "btn btn-primary btn-block" %>
          <%end%>
        </p>
        <% elsif logged_in? %>
        <p class="accent"> This item belongs to you </p>
        <% else %>
        <p class="accent"> <%= link_to "Sign in", signup_path %> or <%= link_to "sign up", signin_path %> to propose a swap or message a user </p>
        <% end %>
        </div>
        <div class="col-sm-6">
          <h1><%=@gift.title%></h1>
          <div class="table-responsive">
            <table class="table">
              <tr>
                <td>Brand:</td>
                <td> <%= @gift.brand %></td>
              </tr>
              <tr>
                <td>Value:</td>
                <td><%= @gift.value %></td>
              </tr>
            </table>
          </div>
          <hr>
          <!-- Description -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"><a href="#collapse-description" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">Description <i class="fa fa-angle-down"></i></a></h4>
            </div>
            <div id="collapse-description" class="panel-collapse collapse">
              <div class="panel-body">
                <p><%=@gift.description%></p>
              </div>
            </div>
          </div>
          <!--/ Description -->
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
