<h3> These are your swapping options, <%=current_user.name%>. Good luck with that </h3>

<%current_user.gifts.each do |gift|%>
<div class= "col-md-5">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%=gift.title %></h3>
    <div class="panel-body">
      <h2><%=gift.description %></h2>
      <%= form_for(@request) do |f| %>
      <%=f.hidden_field :unwanted_id, value:gift.id%>
      <%=f.hidden_field :wanted_id, value:params[:gift_id]%>
      <%= image_tag gift.image, size:"200x200", class:"style_image"  %><br>
      <br>
      <%=f.submit 'Propose Swap', class: "btn btn-primary"%>
    <%end%>
    </div>
    </div>
  </div>
</div>
<%end%>
