
linda.haviv [9:53 AM]
<h1>Request MADE......
WHAT NOOOOWWW
<%=@request%><br>
wanted_id <%=@request.wanted_id%><br>
unwanted_id <%=@request.unwanted_id%><br>
wanted_gift <%=@request.wanted_gift.title%><br>
unwanted gift <%=@request.unwanted_gift.title%><br>
</h1>
