<% if flash[:error] %>
    <%= flash[:error] %>
<% end %>

<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>


<div id="nav">
  <% if logged_in? %>
      You are logged in, <%= current_user.name %>
      <%= link_to "Sign out", signout_path, method: :delete %>
      <%= link_to 'Talk to someone!!!', conversations_path %>
  <% else %>
      <%= link_to "Sign In", signin_path %>
      <%= link_to "Sign Up", signup_path %>
  <%end%>
</div>


<%= form_tag("/search", method: "get") do %>
    <%= label_tag(:query, "Search for regifts:") %>
    <%= text_field_tag :query, params[:query], placeholder: "I want to find..."%>
    <%= submit_tag("Search") %>
<% end %>
<!-- <div id="search">
  <input id="typeahead" class="typeahead" type="text" placeholder="Find a gift">
</div> -->
